.container{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1rem;
}
h2{
    margin-bottom: var(--10px);
}
.image-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 30px;
    align-content: center;
    justify-items: center;
}